$primary-color: #fbcd3c;
$secondary-color: #333333;
$lightenSecondary: lighten($secondary-color, 50);
$light: #eeeeee;
$sidebarWidth: 250px;
$wrapperWidth: 90%;
$wrapperMarginLeft: calc(100vw - (100vw + 5vw));
$pokemonCardWidth: 170px;
$cardDiagonal: calc(#{$pokemonCardWidth} * 1.4142135623730950488);
$cardContentMarginFix: calc((#{$pokemonCardWidth} - #{$cardDiagonal}) / 2);
$cardHeaderSize: calc((20 / 100) * #{$cardDiagonal});
$cardBodySize: calc((48 / 100) * #{$cardDiagonal});
$cardBottomSize: calc((32 / 100) * #{$cardDiagonal});

//BREAKPOINTS

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1250px;
